section {
    padding-top: 80;
    padding-bottom: 80;
}

div.xcode {
    font-size: small;
    color: Honeydew;
    font-weight: 600;
    background-color:darkslategray;
}

div.comment {
    font-size: smaller;
    color:firebrick;
}

div.xdata {
    font-size: medium;
    color: darkgreen;
}

div.xlist {
    font-size: small;
    color: darkgreen;
}

div.text {
    font-size: medium;
    color: black;
    padding-top: 80;
    padding-bottom: 80;
}

div.text-mini {
    font-size: small;
    color: black;
    padding-top: 80;
    padding-bottom: 80;
}

body {
    background-color: Honeydew;
}